<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Home</title>
</head>
<body>
    <section>
        <div class="imgBx">
            <img src="/static/images/nursing.png" alt="Nursing school bg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Nursing School Accounting System</h2>
                <div class="inputBx">
                    <a href="/user_login">
                        <input type="submit" value="User login">
                    </a>
                </div>
                <div class="inputBx">
                    <a href="/admin">
                        <input type="submit" value="Admin login">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static "js/jquery-3.5.1.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>